body{
    background-image:url("IMG-20250714-WA0062.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.b1{
    text-decoration: solid;
    text-shadow: -10px -10px 10px rgb(230, 138, 138);
    color: #e63946;
}
.div1{
    justify-content: center;
    object-position: center;
    text-align: center;
    display:flex;
    height: 100vh;
    align-items: center;
    margin: 0;
    color: yellow;
    flex-direction: column;
}
.b2{
    color: green;
    text-shadow: 10px 10px 10px black;
    text-decoration-thickness:20px;
}
.b3{
    color: green;
    text-decoration-thickness:20px;
}
.b4{
    text-shadow: 10px -10px 10px black;
    color:yellow;
    text-decoration-thickness:20px;
}
.countdown{
    background-color:green;
    border-radius: 50px;
    border-style: solid;
    cursor:progress;
}
.div2{
    display: flex;
    object-position: bottom;
}
.h3{
    color:red;
}